.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 12px;
  text-align: center;
}
.rounded-form {
  border-radius: 10px; 
  border: 2px solid #ccc; 
  padding: 20px;
  width: 100%;
}

.rounded-form3 {
  border-radius: 10px; 
  border: 2px solid #867e7e; 
  padding: 20px;
  background: #969292;
  width: 100%;
}
.rounded-form2 {
  border-radius: 10px; 
  border: 2px solid #09aa47; 
  padding: 20px;
  background: #09aa47;
  width: 100%;
  color: white;
}
textarea {
  width: 100%;
  height: 100px;
}

#fiel {
  border-radius: 10px;
  background-color: #ece4e4;
  height: auto;
  border: 2px solid #ece4e4;
}

<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#conteudo {
  width: 100%;
  float: right;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  overflow: hidden; /* Limita o conteúdo dentro do contêiner */
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active, .dot:hover {
  background-color: #717171;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  background-color: rgba(7, 7, 7, 0.5); /* Fundo semi-transparente para não cobrir totalmente a imagem */
  backdrop-filter: blur(32px);
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  user-select: none;
  transform: translateY(-50%); /* Centraliza verticalmente */
  z-index: 1; /* Garante que os botões fiquem acima das imagens */
}

/* Botão "Prev" alinhado à esquerda */
.prev {
  left: 10px; /* Posiciona o botão dentro da borda esquerda da imagem */
  border-radius: 8px;
}

/* Botão "Next" alinhado à direita */
.next {
  right: 10px; /* Posiciona o botão dentro da borda direita da imagem */
  border-radius: 8px;
}

/* Efeito ao passar o mouse */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro ao passar o mouse */
}

/* Fading animation for slides */
.mySlides.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}


figure {
  display: inline-block;
  border: 0px dotted gray;
  margin: 20px;
  /* adjust as needed */
}

figure img {
  vertical-align: top;
}

figure figcaption {
  border: 1px dotted blue;
  text-align: center;
}

aside p {
  text-align: center;
}

h1 {
  text-align: center;
}